<div class="container">
    <div class="main-slider">
        <div class="main-slider__content">
            <div class="slider-image">
                <button class="slide-changer" id="slide-left"></button>
                <button class="slide-changer" id="slide-right"></button>
            </div>
        </div>
        <div class="main-slider__buttons">
            <ul class="buttons-list">
               
            </ul>
        </div>
    </div>
    
    <div class="product-list__container">

    </div>
</div> 