<div class="container">
    <div class="order-wrapper">
            <div class="order-block">
                <div class="order-block__item">
                    <div class="contacts">
                        <h3>Контакты</h3>
                        <input type="text" id='name' name='name' placeholder="Имя" required>
                        <input type="number" id='phone' name='phone' placeholder="Телефон" required>
                        <input type="email" id='mail' name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="order-block__item">
                    <div class="order-date">
                        <h3>Время</h3>
                        <input type="date" id='date' placeholder="Дата" required>
                        <input type="time" id='time' placeholder="Время" required>
                    </div>
                </div>
                <div class="order-block__item">
                    <div class="payment-options">
                        <h3>Оплата</h3>
                        <select id='payment' name="type">
                            <option value="Наличные">Наличные</option>
                            <option value="Карта">Карта</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="cart-block">
            
        </div>
        
    </div>
</div> 

