<div class="container">
    <div class="product-name">
        
    </div>
    <div class="product-wrapper">
            <div class="product">
                <div class="product-image">
                    
                </div>
                <div class="product-buy">
                    
                </div>
            </div>
            <div class="ingridients">
                <div class="ingridients-title">
                    <h3>Ингридиенты: </h3>
                </div>
                <div class="ingridients-list">
                    
                </div>
            </div>
    </div>
    <div class="related-products-block">
        <div class="related-products__title">
            <h3>Другие Продукты</h3>
        </div>
        <div class="related-products__list">
            
        </div>
    </div>
</div> 